<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/head.js"></script>
    <title>TITLE</title>
    
</head>
<body>
    <nav>
        <div class="header">
            MIKSEr
        </div>
        <div class="dropdown">
            <button class="accbtn"></button>
            <div id="accdrop" class="dropdown-content">
                <a href="/playlists">Browse Playlist</a>
                <a href="#">About</a>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
          </div>
    </nav>


