<%- include('./partials/head-unauth.ejs') %>
<div class="500err center-text">
    <h1>Something Went Wrong... </h1>
    <h3>You shouldn't be here... (≖_≖ )</h3>
    <p class="small">It's dangerous...</p>
    <p class="small">...</p>
    <h2><a href="/playlists">Click Here To Get Back</a></h2>
</div>
<%- include('./partials/foot.ejs') %>
