body {
    margin:0;
    background-color: rgb(20, 20, 20);
    color:gainsboro;
    font-family: 'Roboto', sans-serif;
    /* overflow-x: hidden; */
    cursor: default;
}

h1 {
    margin:0;
    padding:0;
}

nav {
    border-bottom:2px solid gainsboro;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height:68px;
}

nav .header {
    width:100vw;
    position:absolute;
    font-size: 60px;
    text-align: center;
}

.title {
    text-align: center;
    font-size: 60px;
    line-height: 2em;

}



.databaseIdDelivery {
    display:none;
}
.playlistInfo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
#playlistName {
    font-size: 36px;
    line-height: 1.5em;
}

.trackPanel {
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: row;
    align-items: left;
    left:0;
    transition: translate 0.6s ease-out;
    translate:0
}

.trackDisplay {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.guessPanel {
    width:600px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.guessDisplay {
    border: 1px solid gainsboro;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:6px 0px;
    padding: 4px 20px;
    font-size: 20px;
    min-height:1.2em;
    line-height:1.2em
}

.guessDisplay.incorrect {
    background-color: rgba(83, 26, 26, 0.4) 
}

.guessDisplay.correct {
    background-color: rgb(26, 94, 26,0.4) 
}


.playNext {
    display:flex;
    flex-direction: row;
    width:550px;
    justify-content: space-evenly;
    align-items: center;
    height:64px;
}

.playButton {
    height:40px;
    width:40px;
    border: 2px solid gainsboro;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background-image: url('../image/pause.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:30px;
    cursor: pointer;
}

.playButton.paused {
    background-color: transparent;
    background-image: url('../image/play.png');
}

.nextButton,.guessButton,.skipButton,.summaryButton,.exitButton {
    min-height: 30px;
    border: 2px solid gainsboro;
    min-width: 80px;
    background-color: rgb(82, 82, 82);
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.hide {
    display:none;
}
.hide > * {
    display:none;
}

.nextButton.submittable {
    background-color: black;
    
}

.searchPanel {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px auto;
    width: 800px;
    margin-top:30px
}

.searchBar {
    box-sizing: border-box;
    border-radius: 0;
    border: 2px solid gainsboro;
    height:30px;
    line-height: 24px;
    font-size: 18px;
    width: 600px;
    background-color:rgb(20, 20, 20);
    color:gainsboro;
    user-select: none;
}


.searchBar:focus { 
    outline:none;
}

.resultsPanel {
    box-sizing: border-box;
    width: 600px;
    border: 1px solid gainsboro;
    margin: 0 auto;

}

.resultsPanel > section{    
    border:1px solid gainsboro;
    font-size: 18px;
    
}

.iframePanel {
    position:absolute;
    display:flex;
    flex-direction: row;
    overflow-x: hidden;
    bottom:0px;
    transition: 1s;
}

.iframeSec {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width:100vw;
    overflow-x: hidden;
}

.iframeSec.dropped {
    position:absolute;
    bottom:-500px;
}

.summaryDisplay img {
    height:80px;
    width:80px;
}

.summary {
    width:980px;
    display:flex;
    flex-direction: column;
    height:304px;
    overflow-y: auto;
    border: 2px solid gainsboro;
    border-radius: 8px;
    margin:10px auto;


}

.summaryDisplay {
    border: 1px solid gainsboro;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:6px 40px;
    padding: 4px 10px 4px 4px;
    font-size: 28px;
    line-height:100%;
}

.score { 
    font-size: 15px;
}

.summaryTitle {
    max-width: 650px
}







.accbtn {
    margin:0px 20px;
    min-width:40px;
    min-height:100%;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-image: url('../image/options.png');
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right:0;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  #logoutButton {
    font-family: 'Roboto', sans-serif;
    border:none;
    color: black;
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width:100%;
    text-align: left;
  }

  .dropdown a:hover {background-color: #828282;}
  #logoutButton:hover {background-color: #828282;}

  .show {display: block;}